* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p img{
    top: 0;
    margin-right: 5px;
}

p{
    top: 0;
    bottom: 0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #e9ecf9;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px;
}

header img {
    text-align: left;
    margin-bottom: 10px;
}

main {
    display: flex;
    justify-content: space-between;
}

section {
    background-color: #e9ecf9;
    width: 100%;
}

.input-section #inputText{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    height: 20vw;
    width: 40vw;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;

}

.input-section #inputText::placeholder {
    text-align: left; 
} 

.output-section{
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

textarea {
    background-color: rgb(255, 255, 255);
    height: 20vw;
    width: 40vw;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px black;
}

.buttons {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.btn {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: #0b3771;
    color: #FFFFFF;
    border: solid 1px  #0b3771;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    margin: 5px;
    width: 15vw;
    height: 3.5vw;
}

.btn.secondary {
    color: #0b3771;
    background-color: #d9dfe9;
    border: solid 1px  #0b3771;
}

.btn:hover{
    color: #0b3771;
    background-color: #d9dfe9;

}

.btn.secondary:hover {
    color: #d9dfe9;
    background-color: #0b3771;
}

.note {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #666;
    margin-top: 10px;
}

.output-placeholder {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    height: 242px;
    text-align: center;
    align-items: flex-start;
}


.output-placeholder img{
    border: 1px solid #ffffff;
    border-radius: 12px;
    width: 30%;
    box-shadow: 1px 1px 10px black;
}

#outputText {
    display: none;
}

#copyBtn {
    display: none;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: #0b3771;
    border: solid 1px  #0b3771;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    margin: 5px;
}

#copyBtn:hover{
    color: #0b3771;
    background-color: #d9dfe9;

}

.copyButton{
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top: 2.75vw;
}

.note2{
    display: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #666;
    margin-top: 10px;
}

footer{
    background-color: #0b3771;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: 3vw;
    padding: 1vw;
}

footer p {
    background-color: #d9dfe9;
    text-align: center;
    width: 20%;
    box-shadow: 1px 1px 10px #d9dfe9;
    border: solid 1px  #ffffff;
    border-radius: 12px;
    
}

footer a {
    text-decoration: none;
    color: inherit; 
    transition: color 0.75s ease-in-out;
}

footer a:hover {
    animation: colorChange 0.75s forwards;
}

@keyframes colorChange {
    from {
        color: inherit;
    }
    to {
        color: #5500ff9a; /* Cor desejada ao passar o mouse, por exemplo, tom de tomate */
    }
}

/* Responsivo para tablets */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    main {
        flex-direction: column;
    }

    section {
        width: 100%;
        margin-bottom: 20px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 100%;
        margin: 5px 0;
    }

    #copyBtn {
        width: 100%;
    }
}

/* Responsivo para celulares */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .container {
        width: 100%;
        padding: 10px;
        box-shadow: none;
    }

    main {
        flex-direction: column;
    }

    section {
        width: 100%;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 100%;
        margin: 5px 0;
        padding: 15px;
        font-size: 1.2rem;
    }

    textarea {
        height: 150px;
    }

    .note {
        font-size: 0.8rem;
    }

    #copyBtn {
        width: 100%;
        padding: 15px;
        font-size: 1.2rem;
    }
}